<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="maven.CommunitySystem.dao.ICommunityDao">
    <resultMap id="BaseResultMap" type="maven.CommunitySystem.entity.Community">
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="createdate" property="createdate" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="recommend" property="recommend" jdbcType="VARCHAR" />
        <result column="award" property="award" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
    </resultMap>
 
 	<!--添加用户 -->
    <insert id="createcommunity" parameterType="java.util.Map">  
        INSERT 
        INTO 
        communitytable
        (name,createdate,number,recommend,award,creator) 
        VALUES (#{name,jdbcType=VARCHAR}, #{createdate,jdbcType=VARCHAR}, "1", #{recommend,jdbcType=VARCHAR},#{award,jdbcType=VARCHAR},#{creator,jdbcType=VARCHAR})  
    </insert>
 
 	<!-- 查询所有社团信息 -->
 	<select id="CheckCommunitydata" resultType="maven.CommunitySystem.entity.Community">
        SELECT
        name,createdate,number,recommend,award
        FROM
        communitytable
        LIMIT
        20
    </select>
    
    <!--用户登录 -->
    <select id="Login" parameterType="java.util.Map" resultType="maven.CommunitySystem.entity.Community">
        SELECT
        *
        FROM
        communitytable
        WHERE
        name=#{name,jdbcType=VARCHAR}
    </select>
    
    <!--添加用户 -->
    <insert id="AddCommunity" parameterType="java.util.Map">  
        INSERT 
        INTO 
        communitytable
        (name,createdate,number,recommend,award,creator) 
        VALUES (#{name,jdbcType=VARCHAR}, null, "1", null,null,#{creator,jdbcType=VARCHAR})  
    </insert>
    
    <!--删除用户 -->
    <delete id="DeleteCommunity" parameterType="java.util.Map">
        DELETE
        FROM
        communitytable
        WHERE
        name=#{name,jdbcType=VARCHAR}
    </delete>
    
    <!--用户查询 -->
    <select id="SelectCommunity" parameterType="java.lang.String" resultType="maven.CommunitySystem.entity.Community">
        SELECT
        *
        FROM
        communitytable
        WHERE
        name=#{name,jdbcType=VARCHAR}
    </select>
    
    <!--更新信息 -->
    <update id="UpdateCommunity" parameterType="java.util.Map">
        UPDATE
        communitytable
        SET
        name=#{newname,jdbcType=VARCHAR}
        WHERE
        name=#{oldname,jdbcType=VARCHAR}
    </update>
 
</mapper> 